.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.fondo {
  background-color: #ffdee9;
  background-image: linear-gradient(180deg, #ffdee9 0%, #b5fffc 100%);
}
.noTienesCuentaButton {
  text-decoration: none;
  color: black;
}
.noTienesCuentaButton:hover {
  text-decoration: underline;
  transition: 200ms;
}
.mainSection {
  flex-grow: 1;
}
.error-page {
  height: 102vh; /* Ajusta la altura según tus necesidades */
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-content {
  position: relative;
}

.error-content .btn {
  position: absolute;
  bottom: 58px; /* Ajusta la posición vertical del botón */
  left: 48%; /* Ajusta la posición horizontal del botón */
  transform: translateX(-50%);
  z-index: 1; /* Asegura que el botón esté por encima de la imagen */
}
.anatomia {
  background-color: #fd7607;
}
.letras {
  color: white;
  font-size: 7em;
  font-weight: 1000;
  margin-bottom: -70px;
}
.fixed-container {
  min-height: 800px; /* Establece un tamaño mínimo para el contenedor */
  max-height: 2400px; /* Establece un tamaño máximo para el contenedor */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido excede el tamaño máximo */
}
.button_modify {
  background: #09afaa;
  color: #fff;
  border: none;
  position: relative;
  height: 43px;
  font-size: 1.1em;
  padding: 0 1em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.button_modify_2 {
  background: white;
  color: #000000;
  border: none;
  position: relative;
  height: 5.7em;
  font-size: 1.2em;

  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.button_modify_delete {
  background: rgb(248, 15, 15);
  color: #ffffff;
  border: none;
  position: relative;
  padding: 0 1em;
  
  height: 2.1em;
  font-size: 1em;

  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.button_modify:hover {
  background: #fff;
  color: #1aab8a;
}
.button_modify_2:hover {
  background: #09afaa;
  color: white;
}
.button_modify_delete:hover {
  background: #ffffff;
  color: rgb(248, 15, 15);
}
.button_modify:before,
.button_modify:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1aab8a;
  transition: 400ms ease all;
}
.button_modify_2:before,
.button_modify_2:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: white;
  transition: 400ms ease all;
}
.button_modify_delete:before,
.button_modify_delete:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background:rgb(248, 15, 15);
  transition: 400ms ease all;
}
.button_modify:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.button_modify_2:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.button_modify_delete:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.button_modify:hover:before,
.button_modify:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
.button_modify_2:hover:before,
.button_modify_2:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
.button_modify_delete:hover:before,
.button_modify_delete:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.linkFooter:hover {
  color: rgb(21, 21, 214);
}
.carr {
  object-fit: cover;
  height: 600px;
  width: 100%;
}
@keyframes breathing {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.pantalla-carga {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.widthBuscador {
  width: 35%;
}

.breathing-image {
  animation: breathing 3s infinite; /* Duración de la animación y repetición infinita */
}

.ig:hover {
  color: #f16a85;
  transition: 300ms;
}

.yt:hover {
  color: #ff0000;
  transition: 300ms;
}

.tk:hover {
  color: #272727;
  transition: 300ms;
}

.fb:hover {
  color: #0b85ee;
  transition: 300ms;
}

@media (min-width: 992px) {
  .displayNone {
    display: none;
  }
}
@media (max-width: 991px) {
  .carr {
    height: 50vh;
  }
}
@media (max-width: 767px) {
  .widthBuscador {
    width: 75%;
  }
}
