.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.noTienesCuentaButton {
  text-decoration: none;
  color: black;
}
.noTienesCuentaButton:hover {
  text-decoration: underline;
  transition: 200ms;
}
.mainSection {
  flex-grow: 1;
}