.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.noTienesCuentaButton {
  text-decoration: none;
  color: black;
}
.noTienesCuentaButton:hover {
  text-decoration: underline;
  transition: 200ms;
}
.mainSection {
  flex-grow: 1;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.linkFooter:hover {
  color: rgb(21, 21, 214);
}

.ig:hover {
  color: #f16a85;
  transition: 300ms;
}

.yt:hover {
  color: #ff0000;
  transition: 300ms;
}

.tk:hover {
  color: #272727;
  transition: 300ms;
}

.fb:hover {
  color: #0b85ee;
  transition: 300ms;
}

@media (min-width: 992px) {
  .displayNone {
    display: none;
  }
}
